<h1>Listing cs_members</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Address</th>
    <th>Address2</th>
    <th>Address3</th>
    <th>County</th>
    <th>Country</th>
    <th>Mobile</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cs_members.each do |cs_member| %>
  <tr>
    <td><%= cs_member.name %></td>
    <td><%= cs_member.email %></td>
    <td><%= cs_member.address %></td>
    <td><%= cs_member.address2 %></td>
    <td><%= cs_member.address3 %></td>
    <td><%= cs_member.county %></td>
    <td><%= cs_member.country %></td>
    <td><%= cs_member.mobile %></td>
    <td><%= link_to 'Show', cs_member %></td>
    <td><%= link_to 'Edit', edit_cs_member_path(cs_member) %></td>
    <td><%= link_to 'Destroy', cs_member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cs member', new_cs_member_path %>
